:root{
   --fundo: rgba(1, 9, 28, 0.75);;

}

*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
ul{
    margin-right: 3%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.nav{
    display: flex;
    align-items: center;
    height: 8vh;
    background: var(--fundo);
    justify-content: space-between;
}

.nav_link{
    display: flex;
    justify-content: right;
    margin: 5%;
    
}
.nav_link li{
    margin: 10px;
}

.brand {
    display: flex;
    justify-content: left;
   
}

.brand li{
    margin: 10px;
}

@media screen and (max-width: 768px){

    .nav{
        display: flex;
        justify-content: center;
    }
    a{
        font-size: 16px;
        
    }
    .icons{
        width: 15px;
        height: 15px;
    }

    .nav_link{
        margin-right: 7%;
    }

    .nav_link li{
        margin: 4px;
       
    }
    
    .brand{
        margin-left: 7%;
    }

    .brand li{
        margin: 4px;
        
    }
}



